<header>
  <div id="logo" class="text-center">
    <a href="https://phrasales.herokuapp.com">
          <img src="/images/logo.png" class="img-responsive"alt="Logo de LaRotadora.com"/>
    </a>
  </div>
  <div>
      <h1>{{ config.site.title }}</h1>
      <p>{{ config.site.description }}</p>
   </div>
   <div class="clearfix"></div>
</header>
