body
  margin: 0px
  padding: 0px
  font: 16px Helvetica, Georgia, serif
a
  color: #00B7FF
#page-wrap
  margin: 2% auto
  color: white
#page-wrap > .container
  border: 1px solid #999
  padding: 1%
  margin-bottom: 1px
  color: black

section > div
  padding: 20px

header, nav, section, footer
  background-color: #eee
  text-align: center
footer
  display: block
  bottom: 0px
  position: fixed
  text-align: center
  width: 100%

header
  div
    margin: 0 auto
    text-align: center
    width: 75%
    border: 3px solid #73AD21
  a img
    float: left
    width: 12%

#portada
  text-align: center
  margin:10px

#container
  clear: left
  width: 100%
#contenedor
  border: 3px solid #73AD21
  width: 75%
  margin: auto
  font-size: 150%
.Marcador
  border: 3px solid #73AD21
  margin: 10px
.Aciertos
  width: 20%
  float: right
  border: 1px solid #73AD21
  background-color: pink
  margin: auto
.pregunta
  border: 3px solid #73AD21
  margin: auto
.pantalla
  margin: 0px 0px 20px 0px
.btn-group-vertical
  width:100%
